Allow assertions from trusted issuers

| Q                    | A
| -------------------- | -----
| Project              | server
| Bug report?          | no
| Feature request?     | yes
| BC Break report?     | no
| RFC? / Specification | [RFC7521](https://tools.ietf.org/html/rfc7521), [RFC7522](https://tools.ietf.org/html/rfc7522) and [RFC7523](https://tools.ietf.org/html/rfc7523)
| Library version      | 1.0

<!--
Fill in this template according to your issue.
Otherwise, replace this comment by the description of your issue.

Please consider the following requirements
* You MUST never send security issues here. If you think that your issue is a security one then contact Spomky in private at https://gitter.im/Spomky/
* You should not post many lines of source code or console logs. Small inputs (approx 5 lines) are acceptable otherwize you should use a third party service (e.g. Pastebin, Chop...).
-->


This issue was moved to OAuth2-Framework/oauth2-framework#3